/* App.css - MÍNIMO Y LIMPIO */

/* 1. Reset Total: Quita márgenes y paddings de fábrica */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Configuración del cuerpo: El fondo oscuro real */
html, body, #root { 
  background-color: #080c0e; /* Color base oscuro para evitar destellos blancos */
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #e9edef;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal accidental */
}

/* 3. Estilo para el scrollbar (Opcional, para que se vea moderno) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111b21;
}
::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffa3;
}
.main-content, .inventory-page-container, .transaction-container {
    padding-top: 100px !important; /* Esto empuja el contenido hacia abajo para que no lo tape el Navbar */
}